/*
	COLOR variables:
*/	
	//Basic colors
	@LightBlue: #cfedfc;
	@Blue: #00aeef;
	@Green: #8cc63f;
	@Pink: #ec008c;
	@DarkGrey: #231f20;
	@MidGrey:   #9b9b9b;
	@LightGrey: #e2e2e2;

	//Footer
	@Grey8: #828282;
	@Grey6: #6c6c6c;
	
	//Background
	@Grey: #acacac;

	//Hovers
	@BlueHov: #007dab;
	@GreenHov: #709e33;
	@PinkHov: #c80077;

// IMPORTS
@import "bootstrap.less";
@import "retina-1.1.0.less";


body{
	background-color: @Grey;
	color: #323232;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Ubuntu', sans-serif;

}
header{
	height:450px;
	.logo{
			background: url(../img/logo_mijnstad2020.png) no-repeat;
			height:218px;
			width: 100%;
			position: absolute;
			top:5px;
			left:12%;
			z-index: 9999;
			display: inline-block;
			.at2x('../img/logo_mijnstad2020.png', 218px, 197px);
		}
	.TopBar{
		background:#231f20;
		height:30px;
		margin: 0px;

			.PlaatsSelc{
				font-size: 12px;
				color:#fff;
				font-weight: 300;
				margin-top:5px;
			}
			p{margin-bottom: 0;}
			p a{color:@Green;}
			p span{
				color:@Pink;
				margin-left: 5px;
			}
			.login{
				width:50px;
				height: 20px;
				background: #fff;
				text-align: center;
				font-size: 14px;
				margin-top:5px;

				a{color:@DarkGrey;}
			}
			.search{
				color:@Blue;
				font-size: 20px;
				margin-top:5px;
			}
	}
			
	.navigation{
		height:120px;
		background:#fff;
		border-bottom:1px solid @DarkGrey;
		clear: both;
		margin:0 -3px;
		
		.col-md-1{}
		
		nav{
			ul{margin-bottom: 0px;}
			li{
				list-style: none;
				display: block;
				float: left;
				padding: 50px 0px 0px ;
				text-align: center;
				height: 120px;
				width: 130px;
				border-left: 1px solid @DarkGrey;

				a{
					color:@DarkGrey;
					font-weight: 500;
					font-size: 15px;
					height: 120px;
					width: 130px;
					display: inline-block;
				}
				span{
					font-size: 10px;
					color: @MidGrey;
					clear: both;
					display: block;
					text-align: center;
				}
				.glyphicon{display: inline-block; font-size: 14px;}
			}
			ul li:first-child{border:none;}
			ul li:hover{
				background:@DarkGrey;
				border-bottom: 3px solid @Green;
			}
			ul li:hover a{color:#fff; text-decoration: none;} 
			ul li:hover span{color:@Green;} 
			ul li.active{
				background:@DarkGrey;
				border-bottom: 3px solid @Green;
			}
			ul li.active a{color:#fff; text-decoration: none;} 
			ul li.active span{color:@Green;} 
		}
	}

	.carousel{
		height:300px;
		width: 100%;
		background:#222; //Temp Background Color
		.carousel-indicators .active{border:2px solid @Blue;}
	}		

}
section{
	.content{
		background: #fff;
		margin: 0;
		padding: 10px;
		height: 445px;
		
		.evenementen{
			background: @LightGrey;
			width: 28%;
			height: 425px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			position: relative;

			.HeadImg{
				position: relative;
				top:-10px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				height:170px;
				background: url(../img/header_events.png) no-repeat;
				.at2x('../img/header_events.png', 355px, 235px);

				h4{
					background: @Pink;
					height:30px;
					color:#fff;
					padding-left:20px;
					line-height:30px;
					position: relative;
					top:120px;
					width:90%
				}
				h4:hover{
					background: @PinkHov; 
					color: @DarkGrey;
				}
			}
			.ContentBlock{
				padding: 10px;
				ul{margin:0; padding:0;}
				ul li{
					list-style: none;

					.datum{
						font-size: 13px;
						color:@MidGrey;
						float: left;
						margin-right:20px;
						width:50px;
					}
					a{
						float:left;
						color: @DarkGrey;
					}
					a:hover{color:@PinkHov;}
					span{
							color:@MidGrey;
							font-size: 10px;
							margin-left: 70px;
						}
				}
				
			}
			.MeerBtn{
				height:25px;
				width:100px;
				color:#fff;
				font-weight: 500;
				line-height: 25px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				border-bottom-right-radius: 5px;
				background:@Pink;
				position: absolute;
				top:400px;
				right:0px;
				text-align: center;
			}
			.MeerBtn:hover{
				background: @PinkHov; 
				color: @DarkGrey;
			}
		}
		.watismijnstad{
			background:@DarkGrey;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			height: 425px;
			color:#fff;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			position: relative;

			.HeadImg{
				position: relative;
				top:-10px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height:170px;
				background: url(../img/header_mijnstad.png) no-repeat;
				background-position: 30% 55%;
				.at2x('../img/header_mijnstad.png', 571px, 427px);

				h4{
					background: @Blue;
					height:30px;
					color:#fff;
					padding-left:20px;
					line-height:30px;
					position: relative;
					top:120px;
					width:90%
				}
				h4:hover{
					background: @BlueHov; 
					color: @DarkGrey;
				}
			}
			.ContentBlock{
				padding:10px;

				p{
					font-weight: 100;
					font-size: 12px;
				}
			}
			.MeerBtn{
				height:25px;
				width:100px;
				color:#fff;
				font-weight: 500;
				line-height: 25px;
				border-bottom-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				background:@Blue;
				position: absolute;
				top:400px;
				right:0px;
				text-align: center;
			}
			.MeerBtn:hover{
				background: @BlueHov; 
				color: @DarkGrey;
			}
		}
		.col-md-3{padding:0;}
		.sidebar{
			height: 425px;
			width: 20%;
			padding-left: 0;
			margin-bottom: 10px;

			#WordLid{
				padding:10px;
				width: 100%;
				text-align: center;
				background: @Green;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				h3{
					color:@MidGrey; 
					font-size: 22px; 
					font-weight: 700;
					margin:0px;
					padding:0px;

				}
				p{
					color:#fff;
					font-size: 12px;
					font-weight: 100;
				}
				a{text-decoration: none;}
				a #WordLidBtn{
					font-weight: 700;
					font-size: 18px;
					color: #fff;
					text-align: center;
					background: @Pink;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					height:30px;
					line-height: 30px;
					margin-bottom: 10px;
				}
				a #WordLidBtn:hover{
					background: @PinkHov;	
				}
				a #LoginBtn{
					font-weight: 700;
					font-size: 18px;
					color: @DarkGrey;
					text-align: center;
					background: #fff;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					height:30px;
					line-height: 30px;
				}
				a #LoginBtn:hover{
					background: @DarkGrey;
					color:#fff;
				}
			}
			.arrow-down {
				width: 0; 
				height: 0; 
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				
				border-top: 20px solid @Green;
			}

			#PlaatsEvent{
				width: 100%;
				background: @GreenHov;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				padding: 10px;

				a{text-decoration: none;}
				a #PlaatsEventBtn{
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					text-align: center;
					background: @Green;

					h3{
						color:#fff;
						font-size: 22px; 
						font-weight: 700;
						padding-top: 5px;
					}
					p{
						color:#fff;
						font-size: 12px;
						font-weight: 100;
						padding: 5px;
					}
				}
				a #PlaatsEventBtn:hover{
					background: @DarkGrey;
					color:#fff;
				}
			}
		}
		.nieuws{
			background: @LightGrey;
			width: 28%;
			height: 425px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			position: relative;

			.HeadImg{
				position: relative;
				top:-10px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height:170px;
				background: url(../img/header_nieuws.png) no-repeat;
				background-position: 60% 60%; 
				.at2x('../img/header_nieuws.png', 522px, 350px);

				h4{
					background: @Blue;
					height:30px;
					color:#fff;
					padding-left:20px;
					line-height:30px;
					position: relative;
					top:120px;
					width:90%
				}
				h4:hover{
					background: @BlueHov; 
					color: @DarkGrey;
				}
			}
			.ContentBlock{
				padding: 10px;
				ul{margin:0; padding:0;}
				ul li{
					list-style: none;

					.datum{
						font-size: 13px;
						color:@MidGrey;
						float: left;
						margin-right:20px;
						width:50px;
					}
					a{
						float:left;
						color: @DarkGrey;
					}
					a:hover{color:@BlueHov;}
					span{
							color:@MidGrey;
							font-size: 10px;
							margin-left: 70px;
						}
				}
				
			}
			.MeerBtn{
				height:25px;
				width:100px;
				color:#fff;
				font-weight: 500;
				line-height: 25px;
				border-bottom-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;	
				-moz-border-radius-bottomright: 5px;
				background:@Blue;
				position: absolute;
				top:400px;
				right:0px;
				text-align: center;
			}
			.MeerBtn:hover{
				background: @BlueHov; 
				color: @DarkGrey;
			}
		}
		.forum{
			background: @LightGrey;
			width: 28%;
			height: 425px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0;
			position: relative;

			.HeadImg{
				position: relative;
				top:-10px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height:170px;
				background: url(../img/header_forum.png) no-repeat;
				background-position: 60% 84%; 
				.at2x('../img/header_forum.png', 907px, 606px);

				h4{
					background: @Green;
					height:30px;
					color:#fff;
					padding-left:20px;
					line-height:30px;
					position: relative;
					top:120px;
					width:90%;
				}
				h4:hover{
					background: @GreenHov; 
					color: @DarkGrey;

				}
			}
			.ContentBlock{
				padding: 10px;
				ul{margin:0; padding:0;}
				ul li{
					list-style: none;

					.datum{
						font-size: 13px;
						color:@MidGrey;
						float: left;
						margin-right:20px;
						width:100px;
					}
					a{
						float:left;
						color: @DarkGrey;
					}
					a:hover{color:@GreenHov;}
					span{
							color:@MidGrey;
							font-size: 10px;
							margin-left: 120px;
						}
				}
				
			}
			.MeerBtn{
				height:25px;
				width:100px;
				color:#fff;
				font-weight: 500;
				line-height: 25px;
				border-bottom-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomright: 5px;

				background:@Green;
				position: absolute;
				top:400px;
				right:0px;
				text-align: center;
			}
			.MeerBtn:hover{
				background: @GreenHov; 
				color: @DarkGrey;
			}
		}
		.col-md-5{padding:0;}
		.uitgelicht{
			background: @LightGrey;
			height: 425px;
			width: 42.2%;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-bottom: 10px;
			padding: 0;
			position: relative;

			.HeadImg{
				position: relative;
				top:-10px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height:170px;
				background: url(../img/header_uitgelicht.png) no-repeat;
				background-position: 50% 60%; 
				.at2x('../img/header_uitgelicht.png', 907px, 606px);

				h4{
					background: @Pink;
					height:30px;
					color:#fff;
					padding-left:20px;
					line-height:30px;
					position: relative;
					top:120px;
					width:90%
				}
				h4:hover{
					background: @PinkHov; 
					color: @DarkGrey;
				}
			}
			.ContentBlock{
				padding: 10px;

				p{
					font-weight: 100;
					font-size: 12px;
				}
			}
			.MeerBtn{
				height:25px;
				width:100px;
				color:#fff;
				font-weight: 500;
				line-height: 25px;
				border-bottom-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				background:@Pink;
				position: absolute;
				top:400px;
				right:0px;
				text-align: center;

			}
			.MeerBtn:hover{
				background: @PinkHov; 
				color: @DarkGrey;
			}
		}
	}
}
footer{
	.footer{
		background:@DarkGrey;
		margin: 0;
		height: 200px;
		color: @MidGrey;
		

		.sitemap{
			border-right:1px solid @MidGrey;
			ul{
				margin:0;
				padding:0;
				display: inline-block;
				width:100px;
			}
			ul li{
				list-style: none;
				font-size: 12px;
				display: block;
				width:100px;

				a{color:@MidGrey;}
				a:hover{color:@Green;}
			}
			
		}
		.verbindt{
			border-right:1px solid @MidGrey;
		}
		.copyright{

			p{
				font-size: 12px;
				height: 100px;
				margin-top:50px;
			}
		}
		.partners{}
	}
}