/*
	COLOR variables:
*/	
	//Basic colors
	@LightBlue: #cfedfc;
	@Blue: #00aeef;
	@Green: #8cc63f;
	@Pink: #ec008c;
	@DarkGrey: #231f20;
	@MidGrey:   #9b9b9b;
	@LightGrey: #e2e2e2;

	//Footer
	@Grey8: #828282;
	@Grey6: #6c6c6c;
	
	//Background
	@Grey: #acacac;

	//Hovers
	@BlueHov: #007dab;
	@GreenHov: #709e33;
	@PinkHov: #c80077;

// IMPORTS
@import "bootstrap.less";


body{
	background-color: @Grey;
	color: #323232;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Ubuntu', sans-serif;
}

header{
	height:450px;

	.TopBar{
		background:#231f20;
		height:30px;
		margin: 0px;
		padding:5px;

		.PlaatsSelc{
				font-size: 12px;
				color:#fff;
				font-weight: 300;
			}
			.login{
				width:50px;
				height: 20px;
				background: #fff;
				text-align: center;
				font-size: 14px;
			}
			.search{
				color:@Blue;
				font-size: 20px;
			}
	}
			
	.navigation{
		height:120px;
		background:#fff;
		border-bottom:1px solid @DarkGrey;

		.logo{
			display: block;
			float: left;
		}
		nav{
			float: left; 
		}
		ul li{
			list-style: none;
			display: inline-block;
			float: left;
			margin: 0 10px;
			padding: 10px;
			display: table-cell;
			vertical-align: center;
			text-align: center;
			height: 90px;
			width: 100px;
			border-left: 1px solid @DarkGrey;

			a{
				color:@DarkGrey;
				font-weight: 500;
				font-size: 15px;
			}
			span{
				font-size: 10px;
				color: @MidGrey;
				clear: both;

			}
		}
		ul li:first-child{border:none;}

	}

	.carousel{
		height:300px;
		width: 100%;
		background:#222; //Temp Background Color
		.carousel-indicators .active{border:2px solid @Blue;}
	}		

}
section{

	.content{
		background: #fff;
		margin: 0;
		padding: 10px;
		
		.evenementen{
			background: @LightGrey;
			width: 300px;
			height: 425px;
			border-radius: 5px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.watismijnstad{
			background:@DarkGrey;
			border-radius: 5px;
			height: 425px;
			color:#fff;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.sidebar{
			height: 425px;
			width: 190px;
			background: @Green;
			color: @DarkGrey;
			border-radius: 5px;
			margin-bottom: 10px;
		}
		.nieuws{
			background: @LightGrey;
			width: 300px;
			height: 425px;
			border-radius: 5px;
			margin-right: 10px;
		}
		.forum{
			background: @LightGrey;
			width: 300px;
			height: 425px;
			border-radius: 5px;
			margin-right: 10px;
		}
		.uitgelicht{
			background:@LightGrey;
			border-radius: 5px;
			height: 425px;
		}
	}
}
footer{
	.footer{
		background:@DarkGrey;
		margin: 0;
		height: 200px;
		color: @MidGrey;
		padding:10px;

		.sitemap{
			border-right:1px solid @MidGrey;
		}
		.verbindt{}
		.copyright{}
		.partners{}
	}
}